<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>iRaGo - SR Create</title>
</head>
<body>
<h1>SR Modify</h1>
<form action="/sr/modify" th:object="${sr}" method="post">
    <table border="1">
        <input th:field="*{kid}" type="hidden">
        <input th:field="*{regKid}" type="hidden">
        <tr>
            <th>title</th>
            <td>
                <input th:field="*{title}" type="text" required>
            </td>
        </tr>
        <tr>
            <th>contents</th>
            <td>
                <input th:field="*{content}" type="text" required>
            </td>
        </tr>
        <tr>
            <th>type</th>
            <td>
                <select name="type">
                    <option value="que" th:selected="*{type} == 'que'">question</option>
                    <option value="err" th:selected="*{type} == 'err'">error</option>
                    <option value="imp" th:selected="*{type} == 'imp'">improvement</option>
                    <option value="etc" th:selected="*{type} == 'etc'">other inquiries</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>status</th>
            <td>
                <select name="statFl">
                    <option value="N" th:selected="*{statFl} == 'N'">not be started</option>
                    <option value="P" th:selected="*{statFl} == 'P'">in progress</option>
                    <option value="Y" th:selected="*{statFl} == 'Y'">be complated</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>register</th>
            <td>
                <input th:field="*{regId}" type="text" readonly>
            </td>
        </tr>
        <tr>
            <th>charger</th>
            <td>
                <select name="charKid">
                    <option value="0" th:selected="*{charKid} == null">to be determined</option>
                    <th:block th:each="list : ${charList}">
                    <option th:value="${list.kid}" th:text="${list.id}" th:selected="${sr.charKid} == ${list.kid}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
    </table>
    <input type="button" value="cancel" onclick="location.href='/sr/list'">
    <button type="submit">confirm</button>
</form>
</body>
</html>