<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iRaGo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>

    <!-- header -->
    <div class="head">
        <div class="logo"><a href="#">iRaGo</a></div>
        <div class="menu active"><a href="/idea/list">Idea</a></div>
        <div class="menu"><a href="/sr/list">Sr</a></div>
        <div class="menu "><a href="/setting/priority">Setting</a></div>
    </div>

    <!-- content -->
    <div class="content">
        <div style="margin-top: 30px; margin-bottom: 50px;">
            <select>
                <option>title</option>
            </select>
            <input style="width: 60%;" type="text" />
            <button>search</button>
        </div>

        <div class="table">
            <div class="table-row table-head">
                <div>seq</div>
                <div>title</div>
                <div>status</div>
                <div>date</div>
            </div>
            <div class="table-row" th:each="idea : ${ideaList}">
                <div th:text="${idea.kid}"></div>
                <div><a th:href="@{|/idea/details?kid=${idea.kid}|}" th:text="${idea.name}"></a></div>
                <div th:text="${idea.stat}"></div>
                <div th:text="${#dates.format(idea.regDt, 'yyyy-MM-dd HH:mm:ss')}"></div>
            </div>
        </div>
        <div style="margin-top: 50px; text-align: right;">
            <a href="/idea/add" class="btn btn-cancel">Add</a>
        </div>

    </div>

    <!-- footer -->
    <div class="footer"></div>
</body>
</html>