<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iRaGo</title>
</head>
<body>
    <h1>Idea Modify</h1>
    <h4>idea</h4>
    <div>
        <div>
            <span>title</span>
            <span>contents</span>
            <span>status</span>
        </div>
        <hr />
        <div>
            <span><input /></span>
            <span><textarea></textarea></span>
            <span><select><option>complete</option></select></span>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <h4>functions</h4>
    <div>
        <div>
            <span>name</span>
            <span>description</span>
            <span>charger</span>
            <span>status</span>
        </div>
        <hr />
        <div>
            <span><input /></span>
            <span><input /></span>
            <span><select><option>go</option></select></span>
            <span><select><option>not started</option></select></span>
        </div>
    </div>

    <br/>

    <div>
        <button>cancel</button>
        <button>confirm</button>
    </div>
</body>
</html>