<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iRaGo</title>
</head>
<body>
<h1>Idea Register</h1>
<h4>idea</h4>

<form method="post" action="/idea/register">
    <div>
        <div>
            <span>title</span>
            <span>contents</span>
            <span>status</span>
        </div>
        <hr />
        <div>
            <span><input type="text" name="title" /></span>
            <span><textarea name="content"></textarea></span>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <h4>functions</h4>
    <div id="function">
        <div>
            <span>name</span>
            <span>description</span>
            <span>charger</span>
            <span>status</span>
        </div>
        <hr />
        <div class="fn-input">
            <span>
                <input type="text" />
            </span>
            <span><input /></span>
            <span><select><option>go</option></select></span>
            <span><select><option>not started</option></select></span>
        </div>
    </div>
    <div id="add"><button> + </button></div>

    <br/>

    <div>
        <button>cancel</button>
        <button type="submit">confirm</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    $('#add').on("click", function (e) {
        e.preventDefault();

        const fn = $('.fn-input')[0].outerHTML;

        $('#function').append(fn);

        console.log(fn);

    });
</script>
</body>
</html>