<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gora.irago.mapper.IdeaMapper" >

    <insert id="insertIdea">
        INSERT INTO
            idea (name, description)
        VALUE (#{name}, #{description})
    </insert>

    <insert id="insertIdeaFN">
        INSERT INTO
            idea_func (idea_kid, name, description, char_kid, stat)
        VALUES
        <foreach item="fn" collection="list" separator=",">
            (LAST_INSERT_ID(), #{fn.name}, #{fn.description}, #{fn.charger}, #{fn.stat})
        </foreach>
    </insert>

    <select id="selectList" resultType="com.gora.irago.domain.IdeaVO">
        select  kid
              , name
              , description
              , stat
              , del_fl      AS delFl
              , reg_dt      AS regDt
          from idea
    </select>

    <select id="selectIdea" resultType="com.gora.irago.domain.IdeaVO">
        select kid
             , name
             , description
             , stat
        FROM idea
        WHERE
            kid=#{kid}
    </select>

    <select id="selectIdeaFN" resultType="com.gora.irago.domain.IdeaFNVO">
        select
               kid
             , name
             , description
             , char_kid     AS charger
             , stat
             , idea_kid     AS ideaKid
        FROM idea_func
        WHERE
            idea_kid = #{ideaKid}
    </select>

    <delete id="delete">
        DELETE FROM idea WHERE kid = #{kid}
    </delete>

    <update id="updateIdea">
        UPDATE
            idea
        SET
              name = #{name}
            , description = #{description}
            , stat = #{stat}
        WHERE
            kid = #{kid}
    </update>

    <update id="updateIdeaFN">
        UPDATE
            idea_func
        SET
                  name = #{name}
                , description = #{description}
                , char_kid = #{charger}
                , stat = #{stat}
        WHERE
            kid = #{kid}
    </update>
</mapper>