<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gora.irago.mapper.IdeaMapper" >

    <insert id="insertIdea">
        INSERT INTO
            idea (name, description)
        VALUE (#{name}, #{description})
    </insert>

    <insert id="insertIdeaFN">
        INSERT INTO
            idea_func (idea_kid, name, description, char_kid, stat)
        VALUES
        <foreach item="fn" collection="list" separator=",">
            (LAST_INSERT_ID(), #{fn.name}, #{fn.description}, #{fn.charger}, #{fn.stat})
        </foreach>
    </insert>

    <select id="selectList" resultType="com.gora.irago.domain.IdeaVO">
        select  kid
              , name
              , description
              , stat
              , del_fl      AS delFl
              , reg_dt      AS regDt
          from idea
    </select>
</mapper>