<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.gora.irago.mapper.SRMapper" >
    <select id="selectList" resultType="com.gora.irago.domain.SRVO">
        SELECT  SR.KID
              , SR.TITLE
              , SR.CONTENT
              , SR.TYPE
              , SR.REG_DT
              , SR.STAT_FL
              , SR.REG_KID
              , RG.NAME
              , RG.ID           AS regId
              , SR.CHAR_KID
              , CHR.NAME
              , CHR.ID          AS charId
          FROM  USER RG
                RIGHT OUTER JOIN
                SR SR
                ON SR.REG_KID = RG.KID
                LEFT OUTER JOIN
                USER CHR
                ON SR.CHAR_KID = CHR.KID
    </select>

    <select id="selectOne" parameterType="com.gora.irago.domain.SRVO" resultType="com.gora.irago.domain.SRVO">
        SELECT  SR.KID
              , SR.TITLE
              , SR.CONTENT
              , SR.TYPE
              , SR.REG_DT
              , SR.STAT_FL
              , SR.REG_KID
              , RG.NAME
              , RG.ID           AS regId
              , SR.CHAR_KID
              , CHR.NAME
              , CHR.ID          AS charId
          FROM  USER RG
                RIGHT OUTER JOIN
                SR SR
                ON SR.REG_KID = RG.KID
                LEFT OUTER JOIN
                USER CHR
                ON SR.CHAR_KID = CHR.KID
         WHERE  SR.KID = #{kid}
    </select>

    <insert id="insertOne" parameterType="com.gora.irago.domain.SRVO">
        INSERT INTO SR
            (
               KID
             , TITLE
             , CONTENT
             , TYPE
             , REG_KID
        <if test="charKid != 0 and charKid != null">
             , CHAR_KID
        </if>
            )
        VALUES
            (
               #{kid}
             , #{title}
             , #{content}
             , #{type}
             , #{regKid}
        <if test="charKid != 0 and charKid != null">
             , #{charKid}
        </if>
            )
    </insert>

    <delete id="deleteOne" parameterType="com.gora.irago.domain.SRVO">
        DELETE
        FROM  SR
        WHERE KID = #{kid}
    </delete>
</mapper>