<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.gora.irago.mapper.SRMapper" >
    <select id="selectList" resultType="com.gora.irago.domain.SRVO">
        SELECT  SR.KID
              , SR.TITLE
              , SR.CONTENT
              , SR.TYPE
              , SR.REG_DT
              , SR.STAT_FL
              , SR.REG_KID
              , RG.NAME
              , RG.ID           AS regId
              , SR.CHAR_KID
              , CHR.NAME
              , CHR.ID          AS charId
          FROM  SR SR
              , USER RG
              , USER CHR
         WHERE  SR.REG_KID = RG.KID
           AND  SR.CHAR_KID = CHR.KID
    </select>

    <select id="selectOne" parameterType="com.gora.irago.domain.SRVO" resultType="com.gora.irago.domain.SRVO">
        SELECT  SR.KID
              , SR.TITLE
              , SR.CONTENT
              , SR.TYPE
              , SR.REG_DT
              , SR.STAT_FL
              , SR.REG_KID
              , RG.NAME
              , RG.ID           AS regId
              , SR.CHAR_KID
              , CHR.NAME
              , CHR.ID          AS charId
        FROM  SR SR
            , USER RG
            , USER CHR
        WHERE  SR.REG_KID = RG.KID
          AND  SR.CHAR_KID = CHR.KID
          AND  SR.KID = #{kid}
    </select>

    <delete id="deleteOne" parameterType="com.gora.irago.domain.SRVO">
        DELETE
        FROM  SR
        WHERE KID = #{kid}
    </delete>
</mapper>