<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.gora.irago.mapper.UserMapper" >
    <select id="selectUserList" parameterType="String" resultType="com.gora.irago.domain.UserVO">
        SELECT  KID
             , NAME
             , AUTH
             , REG_DT
             , DEL_FL
             , DEL_DT
             , ID
             , PW
        FROM  USER
       WHERE  AUTH = #{auth}
    </select>

    <select id="selectUser" parameterType="com.gora.irago.domain.UserVO" resultType="com.gora.irago.domain.UserVO">
        SELECT  KID
              , NAME
              , AUTH
              , REG_DT
              , DEL_FL
              , DEL_DT
              , ID
              , PW
          FROM  USER
         WHERE  KID = #{kid}
    </select>



    <insert id="insertUser" parameterType="com.gora.irago.domain.UserVO">
        INSERT INTO SR
            (
                KID
              , NAME
              , AUTH
              , ID
              , PW
            )
        VALUES
            (
               #{kid}
             , #{name}
             , #{auth}
             , #{id}
             , #{pw}
            )
    </insert>

    <delete id="deleteUser" parameterType="com.gora.irago.domain.UserVO">
        DELETE
        FROM  USER
        WHERE KID = #{kid}
    </delete>
</mapper>